body{
    background-color: rgba(0, 0, 0, 0.945);

}
/* content style */
.content {
  position: relative;
  margin: 100px auto;
  width: 700px;
  height: 500px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  
}
/* image style */
.image img {
  width: 700px;
  height: 400px;
  object-fit: cover;
}
/* right and left arrows */
.icon .fa-solid {
  position: absolute;
  font-size: 70px;
  color: #fff;
  top: 0px;
}
.icon .fa-chevron-left {
  top: 200px;
  left: 25px;
}
.icon .fa-chevron-right {
  top: 200px;
  right: 25px;
}
/* date and time info style */
.info {
  background-color: rgba(24, 148, 160, 0.8);
  position: absolute;
  bottom: 99px;
  width: 240px;
  height: 50px;
}

.info p {
  display: inline-block;
  margin: 6px;
  margin-top: 13px;
  color: #fff;
  font: 24px Arial, sans-serif;
  text-align: center;
  font-weight: bolder;
}
.text {
  width: 700px;
  height: 100px;
  font: 30px Arial, sans-serif;
  font-weight: bolder;
  margin-top: -4px;
  padding: 15px;
  color: #fff;
  background-color:rgb(14, 14, 14) ;
}
/* .content hover */
.content:hover {
    position: relative;
    margin: 100px auto;
    width: 700px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 1s;
  cursor: pointer;
    
  }
  
